.first-view {
    height: 420px;
    background-image: url(./geometric02.jpg);
    position: relative;
}


.first-view-content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.first-view h1 {
    font-family: 'Bigelow Rules';
    font-size: 120px;
    color: #010c0c;
    margin: 30px auto;
}

.first-view p {
    font-family: 'Bigelow Rules';
    font-size: 48px;
    color: #010c0c;
    margin: 30px auto;
}
