.contact {
    height: 360px;
    /* background-image: url(./geometric02.jpg); */
    position: relative;
    margin-top: 80px;
    background: linear-gradient(
        to left,
        rgba(7, 27, 82, 1) 0%,
        rgb(20, 1, 71) 100%
    );
}

.contact-content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.contact h1 {
    font-family: 'Sansita Swashed';
    font-size: 72px;
    /* color: #010c0c; */
    color: #f0f8ff;
    margin: 50px auto 30px;
}

.contact p {
    font-family: 'Roboto';
    font-size: 24px;
    /* color: #010c0c; */
    color: #f0f8ff;
    margin: 0 auto;
}

#messenger {
    font-size: 12px;
    color: #f0f8ff;
    margin: 0 auto;
}
.messengerIcon {
    margin: 0 auto;
}