.contact {
    height: 360px;
    background-image: url(./geometric02.jpg);
    position: relative;
    margin-top: 45px;
}

.contact-content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.contact h1 {
    font-family: 'Sansita Swashed';
    font-size: 72px;
    color: #010c0c;
    margin: 30px auto;
}

.contact p {
    font-family: 'Roboto';
    font-size: 36px;
    color: #010c0c;
    margin: 30px auto;
}