.header {
    width: 720px;
    height: 80px;
    margin:0 auto;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.header-content {
    width: 720px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.header-content a {
    font-size: 24px;
}

