.App {
  text-align: center;
}

h1 {
  font-family: 'Sansita Swashed';
  font-size: 72px;
  color: #282c34;
  margin: 80px auto;
  /* color: #e9f0f0; */
}

h4 {
  margin: 12px auto 20px;
}

p {
  font-family: 'Roboto';
  font-size: 16px;
  color: #282c34;
  /* color: #e9f0f0; */
}
a {
  font-family: 'Sansita Swashed';
  font-size: 36px;
  /* color: #e9f0f0; */
  color: #282c34;
  text-decoration: none;
  margin: auto 24px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#footer-end {
  width: 1440px;
  height: 40px;
  background-color: #282c34;
}

#footer-end p {
  font-family: 'Roboto';
  color: #f0f8ff;
  margin: 0 auto;
}

